figcaption {
	color: var(--secondary);
	font-style: italic;
	font-size: 0.9rem;
	text-align: center;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
}

img[src$='#center'] {
	display: block;
	margin: 0.5rem auto 0 auto;
}

img[src$='#floatleft'] {
	float: left;
	margin: 0.5rem auto 0 auto;
}

img[src$='#floatright'] {
	float: right;
	margin: 0.5rem auto 0 auto;
}

.chroma {
	background-color: unset !important;
}

code .line-number {
	margin-right: 1rem;
}